@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  /* PINK */
  /* --primary-color: #ffc7c7;
  --secondary-color: #ffe2e2;
  --surface-color: #f6f6f6; */
  /* PURPLE */
  /* --primary-color: #beaee2;
  --secondary-color: #f7dbf0;
  --surface-color: #f9f9f9; */
  /* WARM GREEN */
  /* --primary-color: #91c788;
  --secondary-color: #ddffbc;
  --surface-color: #feffde; */
  /* COLD GREEN  */
  --primary-color: #98ded9;
  --secondary-color: #c7ffd8;
  --surface-color: #f6f6f6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  min-height: 100vh;
  font-family: system-ui, sans-serif;

  background-color: var(--surface-color);
  overflow-x: hidden;
}

html.dark-mode {
  --surface-color: #232931;
  --primary-color: #393e46;
  --secondary-color: #4ecca3;
  color: white;
}

* {
  transition: color 0.3s, background-color 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
}
